:root {
    --basic-white: #f5f4f4;
    --basic-dark-green: #1a3c40;
    --basic-light-green: #1d5c63;
    --basic-white-green: #B8D2D5;
    --basic-black: #000000;
    --basic-dark: #2c3333;
    --basic-shadow: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    background-color: var(--basic-white);
}

body {
    min-width: 1200px;
    margin: 20px 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.page {
    width: 1040px;
    margin: 0 auto;
    box-shadow: 0 0 20px 15px var(--basic-shadow);
}

.nav-list,
.contact-list,
.skill-list,
.lang-list,
.education-list,
.course-list,
.projects-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.general {
    margin-top: 40px;
}

/* HEADER */

.header {
    position: relative;

    color: var(--basic-white);

    background-color: var(--basic-dark-green);
}

.nav-list {
    padding: 20px 20px 10px 20px;

    display: flex;
    justify-content: space-between;
}

.nav-link {
    padding: 10px 10px;

    font-weight: 700;
    text-decoration: none;
    color: inherit;

    border-radius: 25px;
}

.nav-link:hover,
.nav-link:focus {
    background-color: var(--basic-white-green);
    color: var(--basic-black);
}

.header-wrapper {
    padding-left: 700px;

    display: flex;
    flex-direction: column;
}

.header-title {
    margin: 0;
    margin-top: 80px;

    font-size: 32px;
    font-weight: 500;
}

.header-text {
    margin: 8px 0 40px;

    font-size: 16px;
}

.header-photo {
    position: absolute;
    left: 80px;
    top: 80px;

    border: 5px solid var(--basic-white);
    border-radius: 50%;
}

/* MAIN */

.content {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-size: 32px;
    font-weight: 500;
}

/* LEFT COLUMN */

.left-column {
    width: 45%;
    padding: 135px 100px 0px 80px;

    color: var(--basic-white);

    background-color: var(--basic-light-green);
}

.left-column .section-title {
    margin: 0;
    margin-bottom: 22px;
    padding-bottom: 8px;

    border-bottom: 2px solid var(--basic-white);
}

/* CONTACT */

.contact-item {
    margin: 10px 0px 10px 10px;
}

.contact-link {
    color: var(--basic-white);
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--basic-dark-green);
}

.contact-svg path {
    fill: var(--basic-white);
}

.contact-text {
    margin-left: 20px;
    vertical-align: top;
}

/* SKILLS */

.skill-list {
    list-style: circle;
}

.skill-item {
    margin: 10px 0px 10px 30px;
}

/* LANGUAGES */

.lang-item {
    position: relative;

    margin: 10px 0px 10px 40px;
    vertical-align: middle;
}

.lang-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;

    width: 24px;
    height: 20px;

    background-color: var(--basic-white);
    background: url("../images/icon_checked.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*MAIN RIGHT COLUMN*/

.right-column {
    width: 55%;
    padding: 20px 25px 0px 35px;

    color: var(--basic-dark);
}

.right-column .general {
    border-bottom: 1px solid var(--basic-dark-green);
}

.right-column .section-title {
    color: var(--basic-dark-green);
}

/* EDUCATION */

.education-title {
    margin-left: 10px;

    font-size: 20px;
    font-weight: 700;
}

.education-text {
    margin-left: 10px;

    font-size: 16px;
}

.img-certificate {
    margin-left: 30px;
}

.img-certificate:hover img,
.img-certificate:focus img {
    box-shadow: 0 0 10px 5px var(--basic-shadow);
}

/*CODE EXAMPLE */

.code-name {
    font-size: 16px;
    font-weight: 700;
}

.code-text {
    font-size: 16px;
    font-style: italic;
}

.code-ex {
    margin: 0 -25px 0 -35px;
    padding: 20px 0;

    font-family: inherit;
    font-size: 14px;

    background-color: rgba(175, 184, 193, 0.2);
}

/* PROJECTS */

.projects {
    width: 100%;
    margin: 0;
    padding: 20px 60px;

    background-color: var(--basic-white-green);
}

.projects .section-title {
    text-align: center;
    color: var(--basic-dark-green);
}

.projects-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-item {
    width: calc((100% - 100px)/3);
}

.project-link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
}

.project-img {
    width: calc((100% - 40px));
    height: auto;
    margin: 0 auto;
}

.project-description {
    padding: 15px 0 25px;

    display: flex;
    justify-content: space-between;
}

.project-title {
    margin: 0;

    color: var(--basic-dark);
}

.project-link:hover .project-img,
.project-link:focus .project-img {
    box-shadow: 0 0 10px 5px var(--basic-shadow);
}

.project-title:hover {
    color: var(--basic-white);
}

.project-title:hover + .tech-wrapper .icon-js path {
    stroke: var(--basic-white);
}

.project-title:hover+.tech-wrapper .icon-html path,
.project-title:hover+.tech-wrapper .icon-css path {
    fill: var(--basic-white);
}

/* FOOTER */

.footer {
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;

    font-weight: 700;
    color: var(--basic-black);

    background-color: var(--basic-dark-green);
}

.github-link {
    display: flex;

    text-decoration: none;
    color: var(--basic-black);
}

.github-link:hover {
    color: var(--basic-white);
}

.github-link path {
    fill: var(--basic-black);
}

.github-text {
    margin: auto 10px;
}

.footer-copyright {
    margin: auto 0;
}

.rs-link:hover svg path,
.github-link:hover path {
    fill: var(--basic-white);
}